extends layout

block content
  main(role='main')
  h2=msg
  #uploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='uploadModalTitle', aria-hidden='true')
    form(method='post', action="/upload" enctype='multipart/form-data')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#uploadModalTitle.modal-title Choose file
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
              .input-group.mb-3
                .custom-file
                  input#inputGroupFile02.custom-file-input(type='file')
                  label.custom-file-label(for='inputGroupFile02', aria-describedby='inputGroupFileAddon02') Choose file
                .input-group-append                  
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='submit') Upload
  #loginModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    form(method='POST', action="/signin")
      .modal-dialog(role='document')
        .modal-content
          .modal-body                
            .form-group
              label(for='exampleInputEmail1') Email address
              input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email', required)
              small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
            .form-group
              label(for='exampleInputPassword1') Password
              input#exampleInputPassword1.form-control(type='password', placeholder='Password', required)        
          .modal-footer
            button.btn.btn-primary(type='submit') Sing in
  #signupModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    form(method='POST', action="/signin")
      .modal-dialog(role='document')
        .modal-content
          .modal-body                
            .form-group
              label(for='firstNameInput') First name
              input#firstNameInput.form-control(type='text', required)              
            .form-group
              label(for='lastNameInput') Last name
              input#lastNameInput.form-control(type='text', required)              
            .form-group
              label(for='emailInput') Email address
              input#emailInput.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
              small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
            .form-group
              label(for='exampleInputPassword1') Password
              input#exampleInputPassword1.form-control(type='password', placeholder='Password')        
            .form-group
              label(for='exampleInputPassword1') Confirm password
              input#exampleInputPassword1.form-control(type='password', placeholder='Confirm password')        
          .modal-footer
            button.btn.btn-primary(type='submit') Sing up
    .album.py-5
      .container
        .row
          each img, i in list
            .col-md-4
              .card.mb-4.box-shadow
                img.card-img-top(src='uploads/' + img.name alt=img.name)
                .card-body
                  p.card-text
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button' data-toggle="tooltip" data-placement="top" title="View")
                        i.fas.fa-eye
                      button.btn.btn-sm.btn-outline-secondary(type='button' data-toggle="tooltip" data-placement="top" title="Edit")
                        i.fas.fa-edit
                      button.btn.btn-sm.btn-outline-secondary(type='button' data-toggle="tooltip" data-placement="top" title="Remove")
                        i.fas.fa-trash
                    //- small.text-muted 9 mins
  footer.footer.fixed-bottom
    .container.fixed-bottom
      p.float-right
        a(href='#') Back to top
      p
        | Miguel Yax &copy; 2019.