extends layout
 
block content
  h1= title
  //- p Welcome to #{title}
  
  form(method='post', enctype='multipart/form-data')
    .input-group.mb-3
      .custom-file
        input#inputGroupFile02.custom-file-input(type='file')
        label.custom-file-label(for='inputGroupFile02', aria-describedby='inputGroupFileAddon02') Choose file
      .input-group-append
        span#inputGroupFileAddon02.input-group-text Upload

