extends layout

block content
  #loginModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    form(method='POST', action="/signin")
      .modal-dialog(role='document')
        .modal-content
          .modal-header            
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span.fas.fa-window-close(aria-hidden='true')
          .modal-body                
            .form-group
              label(for='exampleInputEmail1') Email address
              input#exampleInputEmail1.form-control(type='email', name="email", aria-describedby='emailHelp', placeholder='Enter email', required)
              small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
            .form-group
              label(for='exampleInputPassword1') Password
              input#exampleInputPassword1.form-control(type='password', name="password", placeholder='Password', required)        
          .modal-footer
            button.btn.btn-primary(type='submit') Sing in
  #signupModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    form(method='POST', action="/signup")
      .modal-dialog(role='document')
        .modal-content
          .modal-header            
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span.fas.fa-window-close(aria-hidden='true')
          .modal-body                
            .form-group
              label(for='firstNameInput') First name
              input#firstNameInput.form-control(type='text', name="firstName", required)              
            .form-group
              label(for='lastNameInput') Last name
              input#lastNameInput.form-control(type='text', name="lastName", required)              
            .form-group
              label(for='emailInput') Email address
              input#emailInput.form-control(type='email', name="email", aria-describedby='emailHelp', placeholder='Enter email')
              small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
            .form-group
              label(for='exampleInputPassword1') Password
              input#exampleInputPassword1.form-control(type='password', name="password", placeholder='Password')        
          .modal-footer
            button.btn.btn-primary(type='submit') Sing up
  
  footer.footer.fixed-bottom
    .container.fixed-bottom
      p.float-right
        a(href='#') Back to top
      p
        | Miguel Yax &copy; 2019.